body {
    color: black;
    background-color: black;
    font-size: large;
}
.p {
    color: black;
    font-size: large;
    align-items: baseline;
    animation: alternate;
<<<<<<< HEAD
    width: 10px;
    padding-left: 0%;
=======
}

footer {
    color: black;
    background-color: blue;
    font-size: large;
>>>>>>> nowaGalaz
}